GITHUB_OWNER=outlain
IMAGE_TAG=latest
HELPER_UID=10001
HELPER_GID=10001

DEFINITIONS_HOST_PATH=/mnt/media/docker/clamav/defs
UPDATE_INTERVAL_SECONDS=21600
FAILURE_RETRY_SECONDS=300
MAX_DEFINITION_AGE_SECONDS=172800
